*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
}
body{
	font-family: montserrat;
	background-color: white;
}
nav{
	height: 80px;
	width: 100%;
	background: #34495e;
	position: fixed;
}
label.logo{
	font-size: 45px;
	font-weight: bold;
	color: white;
	padding: 0 100px;
	line-height: 80px;
	position: absolute;
	animation: colorAnimate 3s ease-in 0s infinite alternate;
}
@keyframes colorAnimate {
	from{
		left: 0px; 
		color: white;
	}
	to {
		left: 550px; 
		color: #34495e;
	}
}
label.logo:hover{
	cursor: pointer;
}
nav ul{
	float: right;
	margin-right: 40px;
}
#dropd:hover{
	border: none;
}
#dropdown{
	display: inline-block;
	margin: 0 8px;
	line-height: 80px;
	cursor: pointer;
}
nav li{
	display: inline-block;
	margin: 0 8px;
	line-height: 80px;
}
nav a{
	color: white;
	font-size: 18px;
	text-transform: uppercase;
	border: 1px solid transparent;
	padding: 7px 10px;
	border-radius: 3px;
}
a:hover{
	border: 1px solid white;
	transition: .5s;
	color: red;
	
}
nav #icon{
	color: white;
	font-size: 30px;
	line-height: 80px;
	float: right;
	margin-right: 40px;
	cursor: pointer; 
	display: none;
}
@media (max-width: 1048px){
	label.logo{
		font-size: 32px;
		padding-left: 60px;
	}
	nav ul{
		margin-right: 20px;
	}
	nav a{
		font-size: 17px;
	}
}
@media (max-width: 909px){
    nav #icon{
		display: block;
	}
	nav ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #2f3640;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	nav li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav a{
		font-size: 20px;
	}
	a.active{
		border: none;
		color: #3498db;
	}
	a:hover{
		color: red;
	}
	nav ul.show{
		left: 0;
	}
}
section div{
	background-image: url("1129104.webp");
	background-size: cover;
	background-repeat: no-repeat;
	height: calc(100vh - 80px);
}
#colorDiv{
	height: 600px;
	width: 800px;
	margin-top: 100px;
	margin-left: 900px;
	background-image: url("homepage_hero_palettes.png");
	background-size: contain;
	background-repeat: no-repeat;
}